NEXT_PUBLIC_GISCUS_REPO= filippodanesi/www-filippo-danesi-it
NEXT_PUBLIC_GISCUS_REPOSITORY_ID= R_kgDOITfCxw
NEXT_PUBLIC_GISCUS_CATEGORY= General
NEXT_PUBLIC_GISCUS_CATEGORY_ID= DIC_kwDOITfCx84CSM5o
NEXT_PUBLIC_UTTERANCES_REPO=
NEXT_PUBLIC_DISQUS_SHORTNAME=
NEXT_PUBLIC_MEASUREMENT_ID=


MAILCHIMP_API_KEY=
MAILCHIMP_API_SERVER=
MAILCHIMP_AUDIENCE_ID=

BUTTONDOWN_API_URL=https://api.buttondown.email/v1/
BUTTONDOWN_API_KEY=

CONVERTKIT_API_URL=https://api.convertkit.com/v3/
CONVERTKIT_API_KEY=
// curl https://api.convertkit.com/v3/forms?api_key=<your_public_api_key> to get your form ID 
CONVERTKIT_FORM_ID= 

KLAVIYO_API_KEY=
KLAVIYO_LIST_ID=

REVUE_API_URL=https://www.getrevue.co/api/v2/
REVUE_API_KEY=

EMAILOCTOPUS_API_URL=https://emailoctopus.com/api/1.6/
EMAILOCTOPUS_API_KEY=
EMAILOCTOPUS_LIST_ID=

SPOTIFY_CLIENT_ID=3e8b0e4a8b144243a899b3de8e7225f6
SPOTIFY_CLIENT_SECRET=909a02b0f05048b9acfdd1582a4990b7
SPOTIFY_REFRESH_TOKEN=AQBn7a02d9yJn9ASs3J8aFupyBLv8nMcsOF4PaQDJGLQoSulIBrgvQzQ5KGCSJ6GbHpnUbL4NdULh8512fqkw9APiXE15VyHf0E7pmER0XjbUFIQhgoa0lNP-dnlOhqh2jI
